@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font: normal 14px/1.6 $default-font
	min-width: 320px
	position: relative
	overflow-x: hidden

h1
	font: bold 44px/1.3 "HelveticaLTStd"

h2
	font: normal 30px/1.6 "HelveticaLTStd-Roman"

h3
	font: bold 26px/1.6 "HelveticaLTStd"

h4
	font: bold 20px/1.6 "HelveticaLTStd"

h5
	font: bold 18px/1.6 "HelveticaLTStd"

h6
	font: bold 16px/1.6 "HelveticaLTStd"

.img-responsive
	display: block
	max-width: 100%
	height: auto

.header
	background: url('../img/header-bg.jpg') top center no-repeat #3b455c
	background-size: cover
	min-height: 560px
	text-align: center
	h1
		color: #e4e4e4
		display: block
		margin: 118px auto 33px
		max-width: 540px
		text-align: center
		text-transform: uppercase
	.btn
		margin: 30px 0 120px

.mobile-menu-wrapper
	position: relative
	float: right
	margin: 8px

.mobile-menu
	display: none
	list-style-type: none
	margin-left: -152px
	padding: 0
	position: absolute
	top: 65px
	width: 250px
	z-index: 100
	a
		background: rgba(76,152,163,.53)
		color: #fff
		display: inline-block
		text-decoration: none
		padding: 15px
		width: 100%
		&:hover
			background: rgba(76,152,163,.73)

.toggle-menu
	background: transparent
	border: 3px solid #fff
	border-radius: 50%
	display: none
	width: 50px
	height: 50px
	margin: 10px 0 0 25px
	position: relative
	z-index: 100

.sandwich
	width: 28px
	height: 28px
	position: absolute
	top: 8px
	bottom: 0
	left: 0
	right: 0
	margin: auto

.s-topper, .s-bottom, .s-middle
	display: block
	position: relative
	width: 28px
	height: 3px
	background: white
	border: none
	border-radius: 4px 4px 4px 4px

.s-topper
	top: 0px
	transition: transform 0.5s, top 0.2s

.s-middle
	top: 6.6px
	transition: transform 0.5s, top 0.2s
	transition-delay: 0.2s, 0s

.s-bottom
	top: 13.5px
	transition: all 0.5s
	transition-delay: 0.1s

.sandwich.active 
	.s-topper 
		top: 9px
		transform: rotate(-45deg)
	.s-middle
		top: 6px
		transform: rotate(45deg)
	.s-bottom 
		opacity: 0
		top: 0
		transform: rotate(180deg)

section
	padding: 80px 0

.btn
	a
		border: 3px solid #e4e4e4
		border-radius: 5px
		color: #e4e4e4
		display: inline-block
		font: normal 30px/1 "HelveticaLTStd-Light", Arial, sans-serif
		padding: 13px 48px
		transition: color, border-color .1s
		&:hover, &:focus
			border-color: lighten($accent, .5)
			color: lighten($accent, .5)
			text-decoration: none
			transition: color, border-color .1s
				

.container
	max-width: 1024px

.top-line
	background: $accent
	height: 87px
	text-align: left
	width: 100%

.logo
	a
		color: #fff
		font: normal 40px/87px "CherrySwash"
		&:hover, &:focus
			text-decoration: none

.nav
	float: right
	ul
		list-style-type: none
		margin: 0 8px
		padding: 0
	li
		display: inline-block
		float: left
		line-height: 87px
		margin-left: 25px
		&:before
			color: #dce3e4
			content: '/'
			margin-right: 25px
		&:first-child
			&:before
				display: none
	a
		color: #dce3e4
		text-transform: uppercase
		&:hover, &:focus
			color: #fff
			text-decoration: none

/** Animated slider */

.slides
	position: relative
	list-style: none
	overflow: hidden
	width: 100%
	padding: 0
	margin: 0
	li
		-webkit-backface-visibility: hidden
		position: absolute
		display: none
		width: 100%
		left: 0
		top: 0
		&:first-child
			position: relative
			display: block
			float: left

.rslides_tabs
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block
		margin: 6px
	a
		display: block
		border: 4px solid #fff
		border-radius: 4px
		height: 4px
		text-indent: -9999px
		width: 4px

.rslides_here
	a
		border-color: #69728c

.things
	text-align: center
	h2
		display: inline-block
		max-width: 570px
	p
		font: normal 14px/22px "HelveticaLTStd-Roman",Arial, sans-serif
		margin: 0 auto 70px
		max-width: 860px

.things-img
	display: inline-block
	margin-right: 60px
	&:last-child
		margin-right: 0

.reviews
	background: #00d089
	text-align: center

.reviews-slides
	list-style-type: none
	margin: 0
	padding: 0

.review-left
	max-width: 135px
	height: auto
	img
		border-radius: 50%
		overflow: hidden
		max-width: 100%

.review-right, .review-left
	display: inline-block
	vertical-align: middle

.review-right
	margin-left: 35px
	h3
		color: #e4e4e4
		line-height: 1.2
		margin: 0
		text-align: left
		text-transform: uppercase

.comment
	color: #fff
	font: normal 18px/32px "HelveticaLTStd-Light", Arial, sans-serif
	margin: 60px auto 0
	max-width: 910px
	text-align: left

.contact
	height: 520px
	padding: 0
	position: relative

#map
	height: 100%

.contact-form
	background: rgba(255,255,255,.85)
	border-radius: 50%
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)
	height: 430px
	margin-left: -215px
	padding: 110px 0 0
	position: absolute
	top: 10%
	left: 50%
	width: 430px
	input, textarea
		background: #fff
		border: 1px solid #d8d8d8
		border-radius: 3px
		color: #d8d8d8
		display: block
		font: normal 14px/1.6 "HelveticaLTStd-Light", Arial, sans-serif
		margin: 6px auto
		padding: 8px 13px
		resize: none
		width: 275px

.btn-submit
	input[type=submit]
		border: none
		background: url('../img/btn-submit.png') 0 0 no-repeat
		height: 67px
		width: 66px

.footer
	background: #00d089
	color: #fff
	font: normal 14px/40px HelveticaLTStd-Condensed, Arial, sans-serif
	height: 40px
	text-align: center
	text-transform: uppercase
	a
		color: #fff


@import "media" // Всегда в конце
